<!DOCTYPE html>
<html>
<head>
    <title>YT and Soundcloud MP3 Converter</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div id="container">
        <h1>YT/Soundcloud MP3 Converter</h1>
        <form action="/download" method="post">
            <div class="input-container">
                <label for="url">URL:</label>
                <input type="text" id="url" name="url" placeholder="Enter YouTube URL">
            </div>
            <div class="input-container">
                <label for="song_name">Song Name:</label>
                <input type="text" id="song_name" name="song_name" placeholder="Enter Song Name" required>
            </div>
            <div class="input-container">
                <label for="artist">Artist:</label>
                <select id="artist" name="artist" required>
                    <option value="">Select an artist</option>
                    {% for artist in artists %}
                        <option value="{{ artist }}">{{ artist }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="input-container">
                <input type="submit" value="Convert">
            </div>
        </form>
    </div>
</body>
</html>
